.container{
    display: flex;
    flex-direction: column;
}
.box1{
    text-align: center;
}
.box2{
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 300px;
    text-align: end;
}
/* .fi{
    text-align: center;
} */
 .line{
    align-self: flex-end;
 }